@using Microsoft.AspNetCore.Identity
@inject SignInManager<BTUser> SignInManager

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Vetra | E-Commerce HTML Admin Dashboard Template  </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="~/dist/icons/bootstrap-icons-1.4.0/bootstrap-icons.min.css" type="text/css">
    <!-- Bootstrap Docs -->
    <link rel="stylesheet" href="~/dist/css/bootstrap-docs.css" type="text/css">

    <!-- Slick -->
    <link rel="stylesheet" href="~/libs/slick/slick.css" type="text/css">

    <!-- Main style file -->
    <link rel="stylesheet" href="~/dist/css/app.min.css" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="auth">



    @RenderBody()

    <!-- content-footer -->
    <footer class="content-footer">
        <div>© 2021 Vetra - <a href="https://laborasyon.com" target="_blank">Laborasyon</a></div>
        <div>
            <nav class="nav gap-4">
                <a href="https://themeforest.net/licenses/standard" class="nav-link">Licenses</a>
                <a href="#" class="nav-link">Change Log</a>
                <a href="#" class="nav-link">Get Help</a>
            </nav>
        </div>
    </footer>
    <!-- ./ content-footer -->
    </div>
    <!-- ./ layout-wrapper -->
    <!-- Bundle scripts -->
    <script src="~/libs/bundle.js"></script>

    <!-- Apex chart -->
    <script src="~/libs/charts/apex/apexcharts.min.js"></script>

    <!-- Slick -->
    <script src="~/libs/slick/slick.min.js"></script>

    <!-- Examples -->
    <script src="~/dist/js/examples/dashboard.js"></script>

    <!-- Main Javascript file -->
    <script src="~/dist/js/app.min.js"></script>





    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>