@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="">
    <title>Vetra - Shadow Tracker</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;900&amp;display=swap" rel="stylesheet">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <style>
        body {
            font-family: 'Urbanist', sans-serif;
            line-height: 30px;
        }

        a {
            text-decoration: none;
        }

        .btn:focus, .btn:active {
            box-shadow: none;
        }

        .btn-outline-primary {
            border-width: 2px;
            border-color: #ff6e40;
            color: #ff6e40;
        }

            .btn-outline-primary:hover {
                background-color: #ff6e40;
                border-color: #ff6e40;
            }

        .btn-primary {
            background-color: #ff6e40;
            border-color: #ff6e40;
        }

            .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
                background-color: #ff6e40 !important;
            }

            .btn-primary:hover {
                border-color: transparent;
            }

            .btn-check:focus + .btn-primary, .btn-primary:focus {
                border-color: transparent;
            }

            .btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show > .btn-primary.dropdown-toggle:focus {
                box-shadow: 0 0 0 0.25rem #ff6e4051;
            }

        .navbar {
            background-color: white;
            position: sticky;
            top: 0;
            z-index: 999;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
        }

        .navbar-brand {
            color: #ff6e40 !important;
            margin-right: 30px;
            font-size: 1.5rem;
            font-weight: 700;
        }

        .navbar a.nav-link {
            color: black !important;
            font-size: 16px;
            padding: .7rem 1rem !important;
        }

            .navbar a.nav-link:hover, .navbar a.nav-link:focus {
                color: #ff6e40 !important;
            }

        .hero {
            padding: 50px 0 0;
            overflow: hidden;
            position: relative;
            background-image: linear-gradient(to right, rgb(255 255 255 / 15%) 1px, transparent 1px), linear-gradient(to bottom, rgb(255 255 255 / 15%) 1px, transparent 1px);
            background-size: 1.5rem 1.5rem;
            background-color: #ff6e4051 !important;
        }

        .lead {
            font-weight: 500;
        }

        .hero svg {
            pointer-events: none;
        }

        .hero-title {
            font-weight: bold;
            line-height: 60px;
            font-size: 40px;
        }

        section {
            text-align: center;
            padding: 80px 30px;
            padding-bottom: 0;
            scroll-margin-top: 50px;
        }

        @@media (min-width: 1600px) {
            section {
                padding: 80px 150px;
            }
        }

        section:last-child {
            padding-bottom: 80px !important;
        }

        section .section-header {
            padding-bottom: 80px;
        }

            section .section-header p {
                margin-bottom: 0px;
            }

            section .section-header h2 {
                font-size: 35px;
            }

        .demo-item {
            padding: 1.5rem;
        }

            .demo-item:hover .demo-item-img:before {
                opacity: .45;
            }

            .demo-item:hover .demo-item-img img {
                transform: translateY(5px);
            }

        .demo-item-title {
            font-size: 22px;
            display: block;
            font-weight: 600;
            color: black;
        }

        .demo-item:hover .demo-item-title {
            color: #777777;
            text-decoration: none;
        }

        .demo-item .demo-item-img {
            padding: 1.5rem 1.5rem 0;
            margin: 1.3rem 0;
            position: relative;
            display: block;
            border-radius: 5px;
            overflow: hidden;
        }

            .demo-item .demo-item-img:before {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                top: 0;
                background-color: #ff6e40;
                opacity: .3;
                transition: opacity .15s;
            }

            .demo-item .demo-item-img img {
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                position: relative;
                z-index: 1;
                transition: transform .15s;
                transform: translateY(0);
                box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
            }

        .demo-item-buttons .btn {
            margin: 0 5px;
            padding: 5px 18px;
            border: 1px solid black;
        }

            .demo-item-buttons .btn:hover, .demo-item-buttons .btn:focus {
                box-shadow: none;
                background-color: #ff6e40;
                color: white;
                border-color: transparent;
            }

        svg {
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -1px;
        }

            svg.footer {
                transform: rotate( 180deg );
                top: -1px;
                bottom: auto;
            }

            svg path {
                fill: #f9f9f9;
            }

        .libraries > div {
            background-color: white;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        div.footer {
            text-align: center;
            color: white;
            padding: 100px 0 70px;
            position: relative;
        }

            div.footer .btn {
                padding: 15px 30px;
            }

                div.footer .btn:hover, .footer .btn:focus {
                    transform: scale(1.05);
                }

        .scroll-top-btn {
            border-radius: 50%;
            width: 60px;
            height: 60px;
            background-color: rgb(0 0 0 / 70%);
            color: white;
            position: fixed;
            right: 30px;
            bottom: -50px;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            transition: all .3s;
            z-index: 999;
        }

            .scroll-top-btn.open {
                bottom: 30px;
                opacity: 1;
            }

            .scroll-top-btn:hover {
                color: white;
                background-color: black;
            }

        @@media (max-width: 992px) {
            .demo-item {
                padding: .5rem;
            }
        }

        @@media (max-width: 768px) {
            .hero {
                padding: 40px 0 0;
            }

            .hero-title {
                line-height: 2.5rem;
                font-size: 2rem;
            }

            .scroll-top-btn {
                width: 40px;
                height: 40px;
                font-size: 1.5rem;
            }

            section {
                padding: 50px 0;
            }

                section .section-header {
                    padding-bottom: 50px;
                }

            .demo-item-buttons .btn {
                padding: 5px 15px;
            }
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a href="#" class="navbar-brand scroll-btn">
                Shadow Tracker
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav flex-grow-1 justify-content-center">
                    @*                  <li class="nav-item">
                            <a class="nav-link" href="#creative-pages">Creative Pages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#layouts">Layouts</a>
                        </li>*@
                    @*                  <li class="nav-item">
                            <a class="nav-link" href="#web-apps">Features</a>
                        </li>*@
                </ul>
                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-primary">
                    <i class="bi bi-bug-fill me-1"></i> Try Now
                </a>
            </div>
        </div>
    </nav>
    <div class="hero bg-light" id="home">
        <div class="container">
            <div class="row g-4 g-xl-0">
                <div class="col-xl-6 col-lg-12 pe-0 pe-xl-5 pb-0 pb-xl-5">
                    <div class="d-flex gap-3 flex-column text-center text-xl-start">
                        <h1 class="hero-title">Shadow Tracker - Web Based Issue Tracking Solution</h1>
                        <p class="lead">Shadow Tracker is an issue tracking solution developed for the management of users, projects and tickets. It meets all the needs of managing a team and tasks to successfully complete a project. Developed with new generation and up-to-date libraries and plugins. It is very easy to use. It has a very simple and understandable code structure.</p>
                        <div class="d-flex gap-3 mb-4 justify-content-center justify-content-xl-start">
                            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary btn-lg rounded-pill">
                                <i class="bi bi-bug-fill me-1"></i> Try Now
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 align-self-end">
                    <div>
                        <div class="mb-5 mb-xl-4">
                            <div class="libraries d-flex gap-3 justify-content-center justify-content-xl-start flex-wrap mb-4">
                                <div class="d-flex align-items-center justify-content-center">
                                    <img width="30" title="Bootstrap" src="https://laborasyon.com/files/images/project/library/1624102146-bootstrap-logo.png">
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img width="30" title="CSS3" src="https://laborasyon.com/files/images/project/library/1624102230-css3-logo.png">
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img width="30" title="JQuery" src="https://laborasyon.com/files/images/project/library/1624102252-jquery-logo.png">
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img width="30" title="HTML5" src="https://laborasyon.com/files/images/project/library/1624102271-html5-logo.png">
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: -10px">
                            <img src="https://laborasyon.com/files/images/project/preview/vetra-e-commerce-html-admin-dashboard-template-preview.jpg" class="img-fluid rounded-3 shadow-lg" alt="Vetra">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <section id="web-apps">
            <div class="container">
                <div class="section-header">
                    <h2 class="fw-bold">Features</h2>
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <p class="text-muted"></p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-5">
                    <div class="col-lg-5 col-md-12 pe-0 pe-lg-5 text-lg-start mb-4 mb-lg-0">
                        <h4 class="demo-item-title">User Role Management</h4>
                        <p class="my-4 text-muted">A useful web application where you can view your incoming or outgoing emails</p>
                        <div class="d-flex gap-2 demo-item-buttons justify-content-center justify-content-lg-start">
                            <a href="https://vetra.laborasyon.com/demos/default/email.html" class="btn rounded-pill" target="_blank">View Demo</a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <img loading="lazy" class="img-fluid rounded-3 shadow-lg" src="https://laborasyon.com/files/images/project/demo/1630276885-vetra-email-app.png">
                    </div>
                </div>
                <div class="row  justify-content-center ">
                    <div class="row justify-content-center align-items-center mb-5">
                        <div class="col-lg-5 col-md-12 order-2 order-lg-1">
                            <img loading="lazy" class="img-fluid rounded-3 shadow-lg" src="https://laborasyon.com/files/images/project/demo/1630276703-vetra-chat-app.png">
                        </div>
                        <div class="col-lg-5 col-md-12 order-1 order-lg-2 ps-0 ps-lg-5 text-lg-start mb-4 mb-lg-0">
                            <h4 class="demo-item-title">User Dashboard</h4>
                            <p class="my-4 text-muted">A useful web application where you can message with your customers and members</p>
                            <div class="d-flex gap-2 demo-item-buttons justify-content-center justify-content-lg-start">
                                <a href="https://vetra.laborasyon.com/demos/default/chats.html" class="btn rounded-pill" target="_blank">View Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center mb-5">
                        <div class="col-lg-5 col-md-12 pe-0 pe-lg-5 text-lg-start mb-4 mb-lg-0">
                            <h4 class="demo-item-title">Project Management</h4>
                            <p class="my-4 text-muted">A useful web application where you can view your incoming or outgoing emails</p>
                            <div class="d-flex gap-2 demo-item-buttons justify-content-center justify-content-lg-start">
                                <a href="https://vetra.laborasyon.com/demos/default/email.html" class="btn rounded-pill" target="_blank">View Demo</a>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12">
                            <img loading="lazy" class="img-fluid rounded-3 shadow-lg" src="https://laborasyon.com/files/images/project/demo/1630276885-vetra-email-app.png">
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center mb-5">
                        <div class="col-lg-5 col-md-12 order-2 order-lg-1">
                            <img loading="lazy" class="img-fluid rounded-3 shadow-lg" src="https://laborasyon.com/files/images/project/demo/1630277166-vetra-todolist-app.png">
                        </div>
                        <div class="col-lg-5 col-md-12 order-1 order-lg-2 ps-0 ps-lg-5 text-lg-start mb-4 mb-lg-0">
                            <h4 class="demo-item-title">Ticket Management</h4>
                            <p class="my-4 text-muted">A web application that lets you manage to-dos or add specific tasks</p>
                            <div class="d-flex gap-2 demo-item-buttons justify-content-center justify-content-lg-start">
                                <a href="https://vetra.laborasyon.com/demos/default/todo-list.html" class="btn rounded-pill" target="_blank">View App</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="footer" style="background-color: #ff6e40">
        <svg class="footer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
            <path style="fill: white" d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
        </svg>
        <div class="container">
            <h2 class="fw-bold">Ready to see if Shadow Tracker is right for you?</h2>
            <p class="mt-4">You can give Shadow Tracker a try now using the Demo Roles.</p>
            <div class="mt-5">
                <a asp-area="Identity" asp-page="/Account/Login" target="_blank" class="btn btn-lg bg-white rounded-pill">Try Now</a>
            </div>
        </div>
    </div>
    <a href="#" class="scroll-top-btn open">
        <i class="bi bi-arrow-up-short"></i>
    </a>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 200) {
                    $('.scroll-top-btn').addClass('open');
                } else {
                    $('.scroll-top-btn').removeClass('open');
                }
            });
            $('.scroll-top-btn').on('click', function () {
                $('html, body').scrollTop(0);
                return false;
            });
        });
    </script>
</body>
</html>