@page
@model ConfirmEmailModel
@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<a asp-area="Identity" asp-page="/Account/Login" target="_blank" class="btn btn-lg bg-white rounded-pill">Login</a>